<style>
    .settings-bar {
        display: flex;
        justify-content: space-between;
        background-color: #2A2A9D; /* Dark Blue */
        width: 480px;
        height: 47px;
        padding: 5px;
        border-radius: 0px;
    }

    .settings-bar button {
        background-color: #3D3DAF; /* Slightly lighter blue */
        border: none;
        color: white;
        font-size: 20px;
        padding: 0;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .settings-bar button:hover {
        background-color: #4A4ABF;
    }

    .settings-bar .analyze-btn {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5E5BEA;
        color: white;
        font-size: 12px;
        width: 40px;
    }

    .settings-bar i {
        color: white; /* White color for icons */
    }
</style>


<div class="settings-bar">
    <a href="#" class="btn btn-primary"><i class="bi bi-play-fill"></i></a>
    &nbsp;
    <a href="#" class="btn btn-primary"><i class="bi bi-caret-right-square-fill"></i></a>
    &nbsp;
    <a href="#" class="btn btn-primary"><i class="bi bi-camera"></i></a>
    &nbsp;
    <a href="#" class="btn btn-primary"><i class="bi bi-stop-fill"></i></a>
    &nbsp;
    <a href="#" class="btn btn-primary"><i class="bi bi-sliders"></i></a>
    &nbsp;&nbsp;
    <a href="#" class="btn btn-primary"><i class="bi bi-arrow-counterclockwise"></i></a>
    &nbsp;
    <a href="#" class="btn btn-primary"><i class="bi bi-arrows-move"></i></a>
    &nbsp;
    <a href="#" class="btn btn-primary"><i class="bi bi-zoom-in"></i></a>
    &nbsp;
    <a href="#" class="btn btn-primary"><i class="bi bi-bezier2"></i></a>
    &nbsp;&nbsp;
    <a href="#" class="btn btn-primary analyze-btn">
{#        <img alt="" style="height: 18px; width: 18px" src="static/analyze.png"> <br>#}
        Analyze
    </a>
</div>


